<launch>
	<node pkg="ros_rsp_server" name="create" type="turtlebot.py" output="screen">
	</node>
	<node pkg="ros_rsp_server" name="create_kobuki" type="create_kobuki.py" output="screen">
	</node>
	<node pkg="create_node" name="create_node" type="turtlebot_node.py" output="screen">
	</node>
</launch>
